*{
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", monospace;
}

body{
  background-image: url("https://wallpaperset.com/w/full/6/5/2/84903.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}